<ion-header>
    <ion-navbar>
        <ion-grid>
            <ion-row>
                <ion-col col-2>
                    <img  class='logo' src='assets/images/ids-logo.png'>
                </ion-col>
                <ion-col col-10>
                    <h4 class='title'>About</h4>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <!--<div id="container360"></div>-->
    <button ion-button color="light" block (click)="takePicture()">Take Picture</button>
    <div class="main">
        <div class="panorama">
            <img src="assets/images/R0010022.jpg">
            <div class="credit">
            </div>
        </div>
    </div>
</ion-content>
