<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Map" tabIcon="map"></ion-tab>
  <!--<ion-tab [root]="tab6Root" tabTitle="Map-2" tabIcon="map"></ion-tab>-->
  <ion-tab [root]="tab5Root" tabTitle="Photos" tabIcon="camera"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="About" tabIcon="information-circle"></ion-tab>
  <!--<ion-tab [root]="tab3Root" tabTitle="Contact" tabIcon="contacts"></ion-tab>-->
</ion-tabs>
