<ion-header>
    <ion-navbar>
        <ion-grid>
            <ion-row>
                <ion-col col-2>
                    <img  class='logo' src='assets/images/ids-logo.png'>
                </ion-col>
                <ion-col col-6>
                    <h4 class='title'>Maps</h4>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div id="map" ></div>
</ion-content>
