<ion-header>
    <ion-navbar>
        <ion-grid>
            <ion-row>
                <ion-col col-2>
                    <img class='logo' src='assets/images/ids-logo.png'>
                </ion-col>
                <ion-col col-6>
                    <h4 class='title'> Contact</h4>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header>Follow us on Twitter</ion-list-header>
        <ion-item>
            <ion-icon name="ionic" item-left></ion-icon>
            @ionicframework
        </ion-item>
    </ion-list>
</ion-content>
