<ion-header>
    <ion-navbar>
        <ion-grid>
            <ion-row>
                <ion-col col-2>
                    <img class='logo' src='assets/images/ids-logo.png'>
                </ion-col>
                <ion-col col-8>
                    <h4 class='title'> Home</h4>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <h2>Welcome to IDS Mobile!</h2>
    <p>
        Connect your Ricoh Theta camera with this device over wifi using the system wifi settings. The default password
        is the numeric part of the Ricoh Theta serial number if you have not changed it.
    </p>

</ion-content>
