page-map {
    .map-container {
        position: absolute;
        top: 0px;
        bottom: 0px;

        width: 100%;
        height: 100%;
    }

}
.fab-list-active{
    margin: 67px -55px !important;
}
#map { height:100%; width:100%; }
#reticule {
    z-index:1000;
    position:absolute;
    width:75px;
    height:75px;
    left:50%;
    top:50%;
    margin-top:-38px;
    margin-left:-38px;
    pointer-events: none;
}