<!--
  Generated template for the Map page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-grid>
      <ion-row>
        <ion-col col-2>
          <img  class='logo' src='assets/images/ids-logo.png'>
        </ion-col>
        <ion-col col-10>
          <ion-list class='location-list'>
            <ion-item>
              <ion-select  (ionChange)="gotoLocation($event)" interface="popover" placeholder="Find a Location">
                <!--<ion-option selected disabled>Select</ion-option>-->
                <ion-option *ngFor="let loc of locations" [value]="loc">{{loc.name}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-fab top right >
    <button ion-fab mini color="light"><img src='assets/images/layers-2x.png'></button>
    <ion-fab-list>
      <ion-row style='border-bottom:1px solid;color:#aaa'>
        <ion-col>
          Base Layers
        </ion-col>
      </ion-row>
      <button  ion-button color="light" (click)="addBingLayer()">Aerial</button>
      <ion-row style='border-bottom:1px solid;color:#aaa'>
        <ion-col>
          Raster Layers
        </ion-col>
      </ion-row>
      <button  ion-button color="light" (click)="add2DRasterLayer()">2D</button>
      <button  ion-button color="light" (click)="add3DRasterLayer()">3D</button>
    </ion-fab-list>

  </ion-fab>
  <div class="map-container" >
    <div id="map">
    </div>

  </div>
  <div id="reticule"><img src="assets/images/crosshair.png" /></div>
</ion-content>

<ion-footer>


  <ion-toolbar>
    <button ion-button color="light" block (click)="takePicture()">Take Picture</button>
  </ion-toolbar>
</ion-footer>
