// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.scroll-content {
  overflow-y: auto;
}

.ios .scroll-content {
  overflow-y: scroll;
}
.logo{
  display: inline-block;
  vertical-align: middle;
  height: 36px;
  width: 65px;
}
.title{
  margin-top: 0.6rem;
  color:#fff;
  text-align: center;
}
.location-list{
  margin: 0px 0 0px 0 !important;
}
.location-list .select-md{
  margin: 0px 0 0px 0 !important;
  max-width:90% !important;
  width:90%;
}
.fab-list-active{
  background-color: #f4f4f4;
  margin: 54px -55px !important
}
.fab-list-active .button-md{
  width:100%;
  height: 2.6rem;

}
ion-select{
  max-width: 95%;
}