<ion-header>
  <ion-navbar>
    <ion-title>Modal</ion-title>
    <ion-buttons start>
      <button ion-button (click)="closeModal()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card >
    <img src="{{photo}}" style='width:100%;height:80%'/>
    <ion-card-content>
      <ion-card-title>
        Capture Details
      </ion-card-title>
      <p>
        Status: {{state}}<br/>
        API Call : {{name}}<br/>
        Latitude: {{lat.toFixed(2)}}<br/>
        Longitude: {{lng.toFixed(2)}}<br/>
      </p>

    </ion-card-content>

  </ion-card>
</ion-content>
