<ion-header>
    <ion-navbar>
        <ion-grid>
            <ion-row>
                <ion-col col-2>
                    <img  class='logo' src='assets/images/ids-logo.png'>
                </ion-col>
                <ion-col col-8>
                    <h4 class='title'> Photos</h4>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-navbar>
</ion-header>

<ion-content class="card-background-page">

    <ion-card *ngFor="let photo of photos.results.entries">
        <img src="{{photo.uri}}"/>
    </ion-card>



</ion-content>
